
chimera:
  host: 127.0.0.1
  port: 6379

site:
  name: Swope
  latitude: "-70:42:00.877"
  longitude: "-29:00:43.175"
  altitude: 2187
  flat_alt: 80
  flat_az : 10

telescope:
  name: swope
  # type: SwopeTelescope # or FakeTelescope
  type: FakeTelescope
  min_altitude: -999
  fans: ['/SwopeFan/tube']
  
camera:
  name: ccd
  type: SwopeCamera
  filters: "u g r i B(LC3013) V9844 V1527 U1525 Rc1528 ND9mm Open"
  # telescope_focal_length: 1 # fixme


  
focuser:
  name: focus
  type: SwopeFocuser
    
dome:
  name: swope
  type: SwopeDome
  #type: FakeDome
  telescope: /FakeTelescope/swope 
  #telescope: /SwopeTelescope/swope 
  lamps: ['/SwopeDomeLamp/lamp']

lamp:
  name: lamp
  type: SwopeDomeLamp

fan:
  name: tube
  type: SwopeFan


#instrument:
#  type: InstrumentExample
#  name: example_instrument
#  param1: "bla bla bla"

#lamp:
#  type: SONOFF
#  name: "lamp"
#  device: "10.0.0.5"

controller:
#  - type: Autofocus
#    name: fake
#    camera: /FakeCamera/fake
#    filterwheel: /FakeFilterWheel/fake

  - type: ImageServer
    name: fake
    httpd: True
    autoload: False
  
  #- type: Ds9AcquisitionDisplay
  #  name: acq 

  #- type: Ds9AutoDisplay
  #  name: display

  - type: Scheduler
    name: fake

  #- type: TelescopeOperator
  #  name: operator
  
#  - type: ControllerExample
#    param1: "test controller example"

weatherstation:
  - type: FakeWeatherStation
    name: fake


