chimera:
  host: 127.0.0.1
  port: 4242

site:
  name: Swope
  latitude: "-29:00:43.175"
  longitude: "-70:42:00.877"
  altitude: 2187
  # flat_alt: 80
  # flat_az: 10

telescope:
  name: swope
  type: SwopeTelescope
  min_altitude: 30
  fans: ['/SwopeFan/tube']
  tcs_host: 10.8.80.53

camera:
  name: ccd
  type: SwopeCamera

focuser:
  name: focus
  type: SwopeFocuser
  tcs_host: 10.8.80.53

dome:
  name: swope
  type: SwopeDome
  telescope: /SwopeTelescope/swope
  lamps: ['/SwopeDomeLamp/lamp']
  tcs_host: 10.8.80.53

lamp:
  name: lamp
  type: SwopeDomeLamp
  tcs_host: 10.8.80.53

fan:
  name: tube
  type: SwopeFan
  tcs_host: 10.8.80.53

weatherstation:
  - type: SwopeWeatherStation
    name: ws

controllers:
  #  - type: Autofocus
  #    name: fake
  #    camera: /FakeCamera/fake
  #    filterwheel: /FakeFilterWheel/fake

  - type: ImageServer
    name: fake
    httpd: True
    autoload: False

  #- type: Ds9AcquisitionDisplay
  #  name: acq

  #- type: Ds9AutoDisplay
  #  name: display

  - type: Scheduler
    name: swope_scheduler

  - type: TelescopeOperator
    name: operator
