
chimera:
  host: 127.0.0.1
  port: 6379

site:
  name: Swope
  latitude: "-70:42:00.877"
  longitude: "-29:00:43.175"
  altitude: 2187
  flat_alt: 80
  flat_az : 10

telescope:
  name: swope
  type: FakeTelescope #SwopeTelescope
  min_altitude: -999
  fans: ['/SwopeFan/tube']

rotator:
  name: rotator
  type: FakeRotator
  
#camera:
#  name: henrietta
#  type: HenriettaCamera

filterwheels:
  - type: HenriettaSlitWheel
    name: slit_wheel
    filters: "calibration 10 20 10+wings 20+wings 15+wings focusing none"
    filters_gui: "calibration 10″ 20″ 10″+wings 20″+wings 15″+wings focusing none"

  - type: HenriettaGrismWheel
    name: grism_wheel
    filters: "R-J open Y-H J-K closed"

  - type: HenriettaDiffuserWheel
    name: diffuser_wheel
    filters: "R-J+eng R-J+cil J-K+eng J-K+cil open"

  - type: HenriettaFilterWheel
    name: filter_wheel
    filters: "R-J open Y-H J-K closed"

  - type: HenriettaSlideWheel
    name: slide_wheel
    filters: "Out In Wobble"

    

camera:
  name: fake
  type: FakeCamera
  ccd_width: 1060
  ccd_height: 106
  use_dss: True
  filters: "U B V R I"
  telescope_focal_length: 1 # fixme
  
focuser:
  name: focus
  type: SwopeFocuser
    
dome:
  name: swope
  #type: SwopeDome
  type: FakeDome
  telescope: /FakeTelescope/swope 
  #telescope: /SwopeTelescope/swope 
  lamps: ['/SwopeDomeLamp/lamp']

lamp:
  name: lamp
  type: SwopeDomeLamp

fan:
  name: tube
  type: SwopeFan

instrument:
  type: HenriettaBase
  name: henrietta

#instrument:
#  type: InstrumentExample
#  name: example_instrument
#  param1: "bla bla bla"

#lamp:
#  type: SONOFF
#  name: "lamp"
#  device: "10.0.0.5"

controller:
#  - type: Autofocus
#    name: fake
#    camera: /FakeCamera/fake
#    filterwheel: /FakeFilterWheel/fake

  - type: ImageServer
    name: fake
    httpd: True
    autoload: False
  
  #- type: Ds9AcquisitionDisplay
  #  name: acq 

  - type: Ds9AutoDisplay
    name: display

  - type: Scheduler
    name: fake
  
#  - type: ControllerExample
#    param1: "test controller example"

weatherstation:
  - type: FakeWeatherStation
    name: fake


